@model SeedHead.Models.Seed

<html>
<head>
    <title></title>
</head>
<body>
    <h2>Seed Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>