@model IEnumerable<SeedHead.Models.Seed>

<html>
<head>
    <title>SeedHead</title>
</head>
<body>
    <h2>SeedHead</h2>
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
    <ul>
        @foreach (var listSeed in Model)
    {
        <li>
            @Html.DisplayFor(modelSeed => listSeed.Description) |
            @Html.ActionLink("Details", "Details", new { id = listSeed.SeedId })
        </li>
}
    </ul>
</body>
</html>