@model IEnumerable<SeedHead.Models.Seed>
@{
    ViewData["Title"] = "Seed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>SeedHead</title>
</head>
<body>
    <div class="banner">
        <p>share the seeds, grow the seeds, grow the community</p>
    </div>

    <div class="title">
        <h2>SeedHead.</h2>
    </div>
    <div class="banner">
        <ul class="createBar text-center">
            <li class="name btn">
                <i class="fa fa-seedling" aria-hidden="true"></i>
                @Html.ActionLink("Seed List", "Index", "Seeds")
            </li>
            <li class="name btn">
                <i class="fas fa-allergies"></i>
                @Html.ActionLink("Offer List", "Index", "Offers")
            </li>
        </ul>
    </div>
</body>
</html>