body {
    font-family: Calibri;
}

.banner {
    background-color: #f3f6f6;
    padding: .5em;
}
.banner p{
    font-weight: bold;
    text-align: center;
}


.title h2 {
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.name {
    font-weight: bold;
}


.createBar li {
    display: inline;
    background-color: #f3f6f6;
    float: left;
   
}

.createBar a {
    padding: 1em;
}

.welcome-img {
    border-radius: 2em;
    
}

.top3 {
    margin: 2em;
}
