body {
    font-family: Calibri;
}

.banner {
    background-color: #f3f6f6;
    padding: .5em;
}
.banner p{
    font-weight: bold;
    text-align: center;
}

.title h2 {
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
