@model SeedHead.Models.Offer

@{
    ViewData["Title"] = "Seed - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Offer Zone - Delete</title>
</head>
<body>

    <div class="title">
        <h2>
            <a href="/">
                <i class="fas fa-leaf fa-2x"></i>
            </a>
        </h2>
        <h2>Are you sure you want to delete   @Html.DisplayFor(model => model.Name)? </h2>
        <hr />
        <div class="text-center">
            <p>By confirming this delete you agree to all instances of @Html.DisplayFor(model => model.Name) being deleted from SeedHead!</p>
            @using (Html.BeginForm())
        {
            <input type="submit" class="btn-lg" value="Delete" />
    }
            <br />
            <button class="btn-lg btn-warning">@Html.ActionLink("Keep", "Index")</button>
        </div>
</body>
</html>